<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856710108082-rqcrsmc8j7hkr2rs2j4u0i56r0t8nljf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856710108082-rqcrsmc8j7hkr2rs2j4u0i56r0t8nljf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856710108082-0kjsk740q15dua06c8ap2bti6hi2icfo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIr5S4o7XI0cCG4ZsplA_84JRv4XFmTE</string>
	<key>GCM_SENDER_ID</key>
	<string>856710108082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfilm</string>
	<key>PROJECT_ID</key>
	<string>my-film-af367</string>
	<key>STORAGE_BUCKET</key>
	<string>my-film-af367.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856710108082:ios:575323f831a0da3c8ccaab</string>
	<key>DATABASE_URL</key>
	<string>https://my-film-af367-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>